.alert-base {
    background: @base-color;
    color: rgba(255, 255, 255, 0.75);
}
.alert-dark {
    background: @link-hover-color;
    color: rgba(255, 255, 255, 0.75);
}
.alert-success ul li i{
    line-height: 25px;
}
.alert-success {
    border: none;
    color: #58b633;
}
