.page-error{
    background: @base-color;
    padding: 90px 0;
}
.page-error-content{
    h1{
        color: #fff;
        font-size: 102px;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        color: #fff;
        font-size: 1.1em;
    }
    hr{
        width: 8%;
    }
    .btn-color-border-solid{
        background-color: #78c0eb;
        border-color: #78c0eb;
        margin-top: 4em;
    }
}
